@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root {
  --background: #fcf1e1;
  --foreground: #292524;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcf1e1;
    --foreground: #292524;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fcf1e1;
  z-index: -1;
  pointer-events: none;
}

/* Wrapper pour le contenu */
.content-wrapper {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

@keyframes blobMove {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(20px, -10px) scale(1.05);
  }
}

.animate-blob {
  animation: blobMove 7s infinite ease-in-out;
}


.font-poppins {
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  font-weight: 900;
}