@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root {
  --background: #FEF1DF;
  --foreground: #292524;
}

/* Custom theme variables */
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEF1DF;
    --foreground: #292524;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FEF1DF;
  z-index: -1;
  pointer-events: none;
}

/* Wrapper pour le contenu */
.content-wrapper {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

@keyframes blobMove {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(20px, -10px) scale(1.05);
  }
}

.animate-blob {
  animation: blobMove 7s infinite ease-in-out;
}


.font-poppins {
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  font-weight: 900;
}


@keyframes highlight {
  0% {
    background-size: 0% 0.5rem;
  }
  100% {
    background-size: 100% 0.5rem;
  }
}

.underline-animate {
  background-image: linear-gradient(120deg, #facc15 0%, #fdba74 100%);
  background-repeat: no-repeat;
  background-size: 0% 0.5rem;
  background-position: 0 88%;
  animation: highlight 1s ease forwards;
  transition: background-size 0.3s ease;
}
